.input {
  min-width: 200px;
  height: 32px;
  padding: 0 var(--space-small);
  border-radius: var(--border-radius-small);
  border: 2px solid var(--border-color);
}

.errorText {
  color: var(--error-color);
}

.label {
  font-weight: bold;
}
