* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
}

:root {
  --background-color: linear-gradient(to right, #6a11cb, #2575fc);
  --primary-Color: #f3f6f9;
  --secondary-color: #b399d4;
  --hover-color: #8a68b4;
  --text-color: #333333;

  /* Fonts */
  --base-font-size: 1rem;
  --medium-font-size: 1.5rem;
  --large-font-size: 2rem;

  /* Spacing */
  --space-small: 0.5rem;
  --space-medium: 1rem;
  --space-large: 2rem;
  --space-x-large: 4rem;

  /* Border Radius */
  --border-radius-small: 0.25rem;
  --border-radius-medium: 0.5rem;
  --border-radius-large: 1rem;
}

@font-face {
  font-family: BebasNeue-Regular;
  src: url("/fonts/BebasNeue-Regular.ttf");
}
